# 다음 퀴즈를 수행하시오.

### Q1. pandas 모듈을 pd로 불러오시오.

In [1]:
import pandas as pd

### Q2. "rating_chocobar.csv"를 pandas 모듈을 활용하여 불러오고 객체 종류를 확인하시오
(단, df 객체에 저장하시오)

In [2]:
df = pd.read_csv("rating_chocobar.csv")

### Q3. df의 첫 3개 row를 출력하시오

In [3]:
df.head(3)

,Company_Maker_if_known,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo

### Q4. df의 마지막 2개 row를 출력하시오

In [4]:
df.tail(2)

,Company_Maker_if_known,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,NaN,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,NaN,Brazil

### Q5. df의 차원을 확인하시오

In [5]:
df.ndim

2

### Q6. df의 row 개수를 확인하시오

In [6]:
df.shape[0]
len(df)

1795

### Q7. df의 column 개수를 확인하시오

In [7]:
df.shape[1]
len(df.columns)

9

### Q8. df의 column 이름을 확인하시오

In [8]:
df.columns

Index(['Company_Maker_if_known', 'Specific_Bean_Origin_or_Bar_Name', 'REF',
       'Review_Date', 'Cocoa_Percent', 'Company_Location', 'Rating',
       'Bean_Type', 'Broad_Bean_Origin'],
      dtype='object')

### Q9. df의 첫 번째 변수 명을 "aa"로 변경하시오

In [9]:
# 1)
df = df.rename(columns = {"Company_Maker_if_known": "aa"})
df.columns

# 2)
df = df.rename(columns = {df.columns[0]: "aa"})
df.columns

Index(['aa', 'Specific_Bean_Origin_or_Bar_Name', 'REF', 'Review_Date',
       'Cocoa_Percent', 'Company_Location', 'Rating', 'Bean_Type',
       'Broad_Bean_Origin'],
      dtype='object')

### Q10. df의 첫 번째, 네 번째, 열 번째 row를 추출하여 df_sub1 객체에 저장하시오

In [10]:
# 1
df_sub1 = df.take([0, 3, 9])
df_sub1

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
9,A. Morin,Pablino,1319,2014,70%,France,4.00,NaN,Peru

In [11]:
# 2
df_sub1 = df.iloc[[0, 3, 9], :]
df_sub1

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
9,A. Morin,Pablino,1319,2014,70%,France,4.00,NaN,Peru

### Q11. df의 index 번호가 짝수인 것만 추출하여 df_sub2 객체에 저장하시오

In [12]:
# 1)
import numpy as np
df_sub2 = df.iloc[np.arange(len(df)/2)*2,]
df_sub2.head()

# 2)
len(df)
df_sub2 = df.iloc[2:1795:2, :]

# 3)
df_sub2 = df.iloc[2:len(df):2, :]

# 4)
df_sub2 = df.iloc[2::2, :]
df_sub2.tail(2)

# 5)
df.iloc[::2, :]

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,NaN,Peru
6,A. Morin,Cuba,1315,2014,70%,France,3.50,NaN,Cuba
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
10,A. Morin,Panama,1011,2013,70%,France,2.75,NaN,Panama
12,A. Morin,Brazil,1011,2013,70%,France,3.25,NaN,Brazil
14,A. Morin,Colombie,1015,2013,70%,France,2.75,NaN,Colombia
16,A. Morin,Papua New Guinea,1015,2013,70%,France,3.25,NaN,Papua New Guinea
18,A. Morin,Piura,1019,2013,70%,France,3.25,NaN,Peru
20,A. Morin,Chanchamayo Province,1019,2013,63%,France,4.00,NaN,Peru
22,A. Morin,Peru,797,2012,63%,France,3.75,NaN,Peru
24,Acalli,"Tumbes, Norandino",1470,2015,70%,U.S.A.,3.75,Criollo,Peru
26,Adi,"Vanua Levu, Toto-A",705,2011,80%,Fiji,3.25,Trinitario,Fiji
28,Adi,"Vanua Levu, Ami-Ami-CA",705,2011,72%,Fiji,3.50,Trinitario,Fiji
30,Aequare (Gianduja),"Los Rios, Quevedo, Arriba",370,2009,70%,Ecuador,3.00,Forastero (Arriba),Ecuador
32,Akesson's (Pralus),"Bali (west), Sukrama Family, Melaya area",636,2011,75%,Switzerland,3.75,Trinitario,Indonesia
34,Akesson's (Pralus),"Monte Alegre, D. Badero",508,2010,75%,Switzerland,2.75,Forastero,Brazil
36,Alain Ducasse,Vietnam,1215,2014,75%,France,2.75,Trinitario,Vietnam
38,Alain Ducasse,Chuao,1061,2013,75%,France,2.50,Trinitario,Venezuela
40,Alexandre,"Winak Coop, Napo",1944,2017,70%,Netherlands,3.50,Forastero (Nacional),Ecuador
42,Alexandre,Tien Giang,1944,2017,70%,Netherlands,3.50,Trinitario,Vietnam
44,Altus aka Cao Artisan,Momotombo,1728,2016,60%,U.S.A.,2.75,NaN,Nicaragua
46,Altus aka Cao Artisan,CIAAB Coop,1732,2016,60%,U.S.A.,2.50,NaN,Bolivia
48,Altus aka Cao Artisan,Gruppo Salinas,1732,2016,60%,U.S.A.,2.75,NaN,Ecuador
50,Altus aka Cao Artisan,Conacado,1125,2013,60%,U.S.A.,3.00,Trinitario,Dominican Republic
52,Altus aka Cao Artisan,Bolivia,1133,2013,60%,U.S.A.,3.00,NaN,Bolivia
54,Amano,Morobe,725,2011,70%,U.S.A.,4.00,NaN,Papua New Guinea
56,Amano,Guayas,470,2010,70%,U.S.A.,4.00,NaN,Ecuador
58,Amano,Montanya,363,2009,70%,U.S.A.,3.00,NaN,Venezuela
...,...,...,...,...,...,...,...,...,...
1736,Wilkie's Organic,Amazonas,1169,2013,89%,Ireland,2.75,Criollo,Peru
1738,Wilkie's Organic,Amazonas w/ nibs,1173,2013,75%,Ireland,2.75,Criollo,Peru
1740,Willie's Cacao,Los Llanos,1227,2014,88%,U.K.,3.00,Trinitario,Colombia
1742,Willie's Cacao,Sambirano,593,2010,71%,U.K.,3.00,Trinitario,Madagascar
1744,Willie's Cacao,Java,593,2010,69%,U.K.,3.75,NaN,Indonesia
1746,Willie's Cacao,Rio Caribe,457,2009,72%,U.K.,3.25,Trinitario,Venezuela
1748,Wm,"Wild Beniano, 2016, batch 128, Heirloom",1912,2016,76%,U.S.A.,3.50,NaN,Bolivia
1750,Woodblock,"Maranon, Cajamarca",1243,2014,70%,U.S.A.,3.00,Forastero (Nacional),Peru
1752,Woodblock,Gran Couva,1042,2013,70%,U.S.A.,3.50,Trinitario,Trinidad
1754,Woodblock,Costa Rica,825,2012,70%,U.S.A.,3.00,NaN,Costa Rica
1756,Woodblock,Ocumare,741,2011,70%,U.S.A.,4.00,NaN,Venezuela
1758,Xocolat,Hispaniola,1057,2013,66%,Domincan Republic,3.00,NaN,Dominican Republic
1760,Xocolla,"Hispaniola, batch 170104",1948,2017,70%,U.S.A.,2.50,NaN,Dominican Republic
1762,Zak's,"Dominican Republic, Batch D2",1578,2015,70%,U.S.A.,3.25,NaN,Domincan Republic
1764,Zak's,"Peru, Batch 1",1578,2015,70%,U.S.A.,3.25,NaN,Peru
1766,Zak's,"House Blend, Batch 2",1582,2015,60%,U.S.A.,3.00,NaN,NaN
1768,Zart Pralinen,UNOCACE,1824,2016,70%,Austria,2.75,Nacional (Arriba),Ecuador
1770,Zart Pralinen,"Kakao Kamili, Kilombero Valley",1824,2016,85%,Austria,3.00,"Criollo, Trinitario",Tanzania
1772,Zart Pralinen,"San Juan Estate, Gran Couva",1880,2016,78%,Austria,3.50,Trinitario,Trinidad
1774,Zokoko,Goddess Blend,1780,2016,65%,Australia,3.25,NaN,NaN
1776,Zokoko,Tokiala,701,2011,66%,Australia,3.50,Trinitario,Papua New Guinea
1778,Zotter,Raw,1205,2014,80%,Austria,2.75,NaN,NaN
1780,Zotter,Amazonas Frucht,801,2012,65%,Austria,3.50,NaN,NaN
1782,Zotter,"Satipo Pangoa region, 20hr conche",875,2012,70%,Austria,3.50,Criollo (Amarru),Peru
1784,Zotter,El Oro,879,2012,75%,Austria,3.00,Forastero (Nacional),Ecuador
1786,Zotter,El Ceibo Coop,879,2012,90%,Austria,3.25,NaN,Bolivia
1788,Zotter,"Kongo, Highlands",883,2012,68%,Austria,3.25,Forastero,Congo
1790,Zotter,Peru,647,2011,70%,Austria,3.75,NaN,Peru
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,NaN,Brazil

### Q12. df_sub1과 df_sub2를 차례대로 병합하여 df_sub 객체에 저장하시오

In [13]:
# 1)
df_sub = df_sub1.append(df_sub2)
df_sub.head()

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
9,A. Morin,Pablino,1319,2014,70%,France,4.00,NaN,Peru
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,NaN,Peru

In [14]:
# 2)
df_sub = pd.concat([df_sub1, df_sub2], axis = 0)
df_sub.head()

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
9,A. Morin,Pablino,1319,2014,70%,France,4.00,NaN,Peru
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,NaN,Peru

In [15]:
# !?)
pd.concat([df_sub1.iloc[:3, :], df_sub2.iloc[:3, :]], axis = 1)

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876.0,2016.0,63%,France,3.75,NaN,Sao Tome,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A. Morin,Atsane,1676.0,2015.0,70%,France,3.0,NaN,Togo
3,A. Morin,Akata,1680.0,2015.0,70%,France,3.50,NaN,Togo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A. Morin,Quilla,1704.0,2015.0,70%,France,3.5,NaN,Peru
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A. Morin,Cuba,1315.0,2014.0,70%,France,3.5,NaN,Cuba
9,A. Morin,Pablino,1319.0,2014.0,70%,France,4.00,NaN,Peru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Q13. df_sub를 "quiz.csv"로 저장하시오.

In [19]:
df_sub = df_sub.reset_index()
df_sub.head()

,index,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
2,9,A. Morin,Pablino,1319,2014,70%,France,4.00,NaN,Peru
3,2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo
4,4,A. Morin,Quilla,1704,2015,70%,France,3.50,NaN,Peru

In [21]:
df_sub.to_csv("quiz.csv", index=False)